* {
    /* box-sizing: border-box; */
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

nav .top {
    height: 105px;
    width: 100%;
}

nav .bottom {
    height: 70px;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 1364px;
    margin: auto;
}

.featured-articles .primary {
    height: 441px;
    width: 772px;
    margin: 47px 0 63px 0;
    display: grid;
    grid-template-columns: 230px auto;
    grid-template-rows: repeat(2, 1fr);
}

.primary .img {
    height: 176px;
    width: 176px;
    border-radius: 11px;
    border: 8px solid black;
    display: block;
}

.primary p {
    display: block;
    grid-column: 1/3;
}

.featured-articles .secondary {
    height: 143px;
    width: 772px;
    margin-bottom: 63px;
    display: grid;
    grid-template-columns: 154px auto;
}

.secondary .img {
    height: 118px;
    width: 118px;
    border: 5px solid black;
    border-radius: 11px;
}


/* .secondary h1 {} */

.newsletter {
    height: 943px;
    width: 427px;
    padding: 0 16px;
    margin: 20px 0 0 115px;
}

.newsletter .newsletter-content {
    height: 516px;
    width: 365px;
    padding: 125px 31px 42px 31px;
    margin-top: 125px;
}

.guides {
    display: flex;
    height: 528px;
    width: 1305px;
    justify-content: space-between;
    padding: 0 21px;
    margin: auto
}

.guides div {
    height: 385px;
    width: 334px;
    padding: 40px;
    margin: 31px 0;
}

.latest-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 1282px;
    padding: 0 16px;
    margin: auto;
    justify-items: center;
}

.latest-posts div {
    width: 537px;
    height: 363px;
    padding-left: 105px;
    margin-bottom: 63px;
}

.join {
    display: flex;
    width: 1282px;
    padding: 0 16px;
    margin: auto;
}

.join div {
    width: 642px;
}

.join div:first-of-type {
    height: 435px;
}

.join div:last-of-type {
    height: 644px;
}


/* .sbox {
    height: 16px;
    width: 100%;
    padding-bottom: 21px;
} */

.more {
    width: 1346px;
    height: 961px;
    padding: 0 16px;
    margin: auto;
}

.more .more-heading {
    height: 117px;
    width: 1282px;
    padding: 0 16px 20px 16px;
    margin-bottom: 20px;
}

.more .family {
    height: 772px;
    width: 1314px;
    padding-bottom: 31px;
    overflow-x: scroll;
    display: flex;
}

.more .family div {
    height: 455px;
    min-width: 303px;
    padding: 125px 31px 42px 31px;
    margin-top: 125px;
    margin-right: 31px;
}

.workshops {
    height: 877px;
    width: 100%;
    padding: 73px 0;
}

.workshops .workshop-container {
    height: 877px;
    width: 1346px;
    margin: 0 111px;
}

.twitter {
    height: 1742px;
    width: 1314px;
    padding: 0 16px;
    margin: auto;
}

.person-of-week {
    height: 276px;
    width: 1282px;
    padding: 0 16px;
    margin-bottom: 63px;
}

.twitter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    justify-items: center;
}

.twitter-article {
    height: 274px;
    width: 537px;
    padding-left: 105px;
    margin-bottom: 63px;
}

.twitter-article:nth-of-type(n+3) {
    margin-top: 63px;
}

footer {
    height: 613px;
    width: 100%;
    padding: 33px 0 50px;
}